@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: "#fafafa";
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
}
.hover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: auto;
  z-index: -1;
  aspect-ratio: 0.9;
  transform-origin: center;
  background: gray;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  border-top: 1px solid #ccc;
  width: 100%;
  position: relative;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  @apply w-[80%] h-[415px]  md:w-[400px] md:h-[570px];
}

.swiper-slide {
  @apply p-5 flex items-center justify-center rounded-14 text-dark bg-gray-100 relative border-dark border-2 text-5xl text-pretty;
}
.gif {
  @apply w-9/12 md:w-full;
}
.gif.papuga {
  @apply w-7/12;
}

.gif.webdev {
  @apply w-7/12 md:w-9/12;
}
.swiper-slide p {
  @apply text-lg md:text-2xl;
}

.swiper-slide:nth-child(1) {
  @apply p-0;
}

.swiper-slide:nth-child(5n) video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: contain;
  transform: scale(1.8);
  rotate: -90deg;
}
